.container {
  border: 4px solid lightgray;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.box {
  border: 4px solid lightgray;
  width: 100px;
  height: 100px;
  margin: 0 15px 0 50px;
}

.box-wrapper {
  display: flex;
  align-items: center;
}

.big-box {
  width: 100px;
  height: 100px;
}
